.bg-green {
    background-color: #ffffff;
}
.text-green {
    color: #ffffff;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.logo img {
    height: 40px;
}
.nav-links {
    display: flex;
    list-style-type: none;
}
.nav-links li {
    margin: 0 15px;
    position: relative;
}
.nav-links a {
    text-decoration: none;
    color: #333;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 1;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.nav-links li:hover .dropdown-content {
    display: block;
}
.internet-banking {
    background-color: #008751;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
.card {
    background-color: #ffffff;
}
.h1 {
    text-align: center;
    color: #008751;
}
.clearfix {
    background-color: #008751;
}
.container-mt-5 {
    background-color: #333;
}
.hero-section {
    background-color: #008751;
    border-radius: 15px;
    padding: 2rem;
}

.hero-subtitle {
    font-size: 1rem;
}
.create-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition: all 0.3s;
}
.create-btn:hover {
    background-color: white;
    color: #00a86b;
}
.footer-links h5 {
    color: #44504a;
    font-weight: bold;
}
.footer-links ul {
    list-style-type: none;
    padding-left: 0;
}
.footer-links a {
    color: #44504a;
    text-decoration: none;
}
.footer-links a:hover {
    color: #008751;
}
.col-md-6 {
    color: #44504a;
}
.text-muted {
    color: #008751;
}
.col-md-4 {
    align-items: center;
}
.material-symbols-outlined {
    color: #ffffff;
    padding: 5%;
    background-color: #008751;
    border-radius: 100px;
}

.service-box .icon .material-icons {
    font-size: 50px;
    color: #008751;
}

.service-box h4 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.service-box ul {
    padding-left: 0;
}

.service-box ul li {
    font-size: 14px;
    margin-top: 10px;
}

.text-muted {
    font-size: 12px;
    color: #6c757d;
}
